*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

#codeigniter 3
application/logs/*
config/development
!application/logs/index.html
!application/logs/.htaccess
/vendor/